# Virtual environments
.venv/
venv/
venv-1/
env/
ENV/

# Python cache / compiled files
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Test / coverage / tooling cache
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# Build / packaging
build/
dist/
*.egg-info/

# Logs
*.log